@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'GmarketSansMedium';
    background-color: #1597cf;
    color: #FFF;
}

/* 메인 콘텐츠 */
#contents {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* 제목 이미지 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.title .clock_img {
    position: relative;
    width: 265px;
    height: 265px;
}

.title_img {
    position: relative;
    width: 265px;
    height: 265px;
}



.title_img img {
    width: 100%;
    height: auto;
}


.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.intro .intro_saying {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}

.intro .explain {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.intro .quotes {
    position: relative;
    padding-top: 20px;
}

.intro .explain p {
    position: absolute;
    font-size: 17px;
    line-height: 1.7;
}

.intro .explain span {
    font-family: 'GmarketSansBold';
    font-size: 20px;
}


/* 버튼 공통 스타일 */
button {
    display: flex;
    align-items: center;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    color: #1597cf;
    background-color: #FCEE21;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
    word-break: keep-all;
}


/* 버튼 */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


/* 모달 */
#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#modal .modal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: #FFF;
    border-radius: 20px;
}

#modal .cheer {
    font-family: 'OTEnjoystoriesBA';
    color: #1597cf;
    text-align: center;
}

#modal .cheer h1 {
    font-size: 60px;
}

#modal .cheer h3 {
    font-size: 30px;
}

#modal .licat_img {

    margin-bottom: 20px;
}

#modal .close_btn {
    box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 15%), 0px 5px 16px 0px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
}

#modal .btn p {
    color: #747474;
    font-size: 13px;
    text-align: center;
}

